@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "./variables";
* {
  font: 100% "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}
.bold-text {
  font-weight: 600;
  font-size: 20px;
}
h1.heading {
  font-size: 35px;
  font-weight: 600;
}
.logo-panel {
  display: flex;
  align-items: center;
}
.menu-button-size {
  font-size: 40px;
}
.main-container {
  margin-top: 76px;
  min-width: 280px;
  overflow: hidden;
  padding-bottom: 80px;
}
.full-bg {
  @include gradient-bg;
  position: absolute;
  height: 100%;
  z-index: -1;
  top: 0;
  width: calc(100% - 100px);
}
.full-bg.right {
  right: 0;
  border-radius: 0px 0px 0px 60px;
}
.full-bg.left {
  left: 0;
  border-radius: 0px 0px 60px 0px;
}
@media (max-width: 1220px) {
  .full-bg {
    width: calc(100% - 50px);
  }
}
@media (max-width: 1024px) {
  .full-bg {
    width: calc(100% - 20px);
  }
}
@media (max-width: 767px) {
  .full-bg {
    width: calc(100%);
    right: 0;
    left: 0;    
    border-radius: 0px 0px 0px 0px !important;
  }
}
.fixed-panel {
  position: fixed;
}
.fixed-width-panel {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}
.nav-bar-menu-list,
.nav-bar-menu-list-mobile {
  display: flex;
}
.nav-bar-menu-list-mobile {
  flex-direction: column;
}
.footer-panel {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1100;
  background-color: $primary;
  font-size: 14px;
}
.header-panel {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: none;
  position: relative;
  box-shadow: none !important;
}
.MuiListItem-root {
  display: block;
  width: auto !important;
}
.MuiDivider-root {
  height: 100% !important;
  border-width: 1px !important;
}
.MuiAppBar-root {
  box-shadow: none;
}
/* page loading icon */
.loading-page-bg {
  width: 100%;
  height: 100vh;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1101;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 5px solid indigo;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.MuiCircularProgress-circle {
  color: #fff;
}
.MuiDrawer-paper {
  width: 100%;
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 899px) {
  .nav-bar-menu-list {
    display: none;
  }
  .main-container {
    margin-top: 76px;
  }
}
@media only screen and (max-width: 640px) {
  h1.heading {
    font-size: 25px;
    font-weight: 600;
  }
}
.slider-packages {
  padding: 10px;
  .slick-slider {
    margin: auto;
    box-sizing: border-box;
    max-width: 850px;
    position: relative;
    .slick-track {
      margin: auto;
    }
  }
  .card-validity {
    right: 8px;
    position: absolute;
    top: 10px;
    background: red;
    border-radius: 10px;
    padding: 1px 10px;
    span {
      font-size: 11px;
      color: #fff;
    }
    strong {
      color: #fff;
    }
  }
  .slick-dots {
    bottom: 0px;
  }
  .slick-dots li button:before {
    font-size: 10px;
  }
  .slick-slide {
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    > div {
      > div {
        img {
          width: 100%;
          transition: none;
        }
        background-color: #ddd;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
        box-sizing: border-box;
      }
    }
  }
  .slick-dots li.slick-active button:before {
    color: #fff;
  }
  .slick-next {
    height: 50px;
    width: 50px;
    right: -60px;
  }
  .slick-prev {
    height: 50px;
    width: 50px;
    left: -60px;
  }
  .slick-next:before,
  .slick-prev:before {
    font-size: 50px !important;
  }
}
